[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/oreilly-japan/RecommenderSystems/blob/main/chapter5/colab/Association.ipynb)

# 어소시에이션 분석(Apriori 알고리즘)

In [1]:
# Colab용 notebook입니다. 이 notebook 한 장에서 여러 데이터의 다운로드부터, 추천까지 완결하도록 되어 있습니다(예측 평가는 미포함)
# MovieLens 데이터를 아직 다운로드 하지 않았다면, 이 셀을 실행해서 다운로드합니다.
# MovieLens 데이터 분석은 data_download.ipynb를 참조합니다.

# 데이터 다운로드와 압축 풀기
!wget -nc --no-check-certificate https://files.grouplens.org/datasets/movielens/ml-10m.zip -P ../data
!unzip -n ../data/ml-10m.zip -d ../data/

--2022-12-27 04:45:01--  https://files.grouplens.org/datasets/movielens/ml-10m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 65566137 (63M) [application/zip]
Saving to: ‘../data/ml-10m.zip’

ml-10m.zip          100%[===================>]  62.53M  63.8MB/s    in 1.0s

2022-12-27 04:45:02 (63.8 MB/s) - ‘../data/ml-10m.zip’ saved [65566137/65566137]

Archive:  ../data/ml-10m.zip
   creating: ../data/ml-10M100K/
  inflating: ../data/ml-10M100K/allbut.pl
  inflating: ../data/ml-10M100K/movies.dat
  inflating: ../data/ml-10M100K/ratings.dat
  inflating: ../data/ml-10M100K/README.html
  inflating: ../data/ml-10M100K/split_ratings.sh
  inflating: ../data/ml-10M100K/tags.dat

In [2]:
# Movielens 데이터 로딩(데이터량이 많으므로, 로딩에 시간이 걸릴 수 있습니다)
import pandas as pd

# movieID와 제목만 사용
m_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv('../data/ml-10M100K/movies.dat', names=m_cols, sep='::' , encoding='latin-1', engine='python')

# genre를 list 형식으로 저장한다
movies['genre'] = movies.genre.apply(lambda x:x.split('|'))


# 사용자가 부여한 영화의 태그 정보를 로딩한다
t_cols = ['user_id', 'movie_id', 'tag', 'timestamp']
user_tagged_movies = pd.read_csv('../data/ml-10M100K/tags.dat', names=t_cols, sep='::', engine='python')

# tag를 소문자로 바꾼다
user_tagged_movies['tag'] = user_tagged_movies['tag'].str.lower()


# tag를 영화별로 list 형식으로 저장한다
movie_tags = user_tagged_movies.groupby('movie_id').agg({'tag':list})

# 태그 정보를 결합한다
movies = movies.merge(movie_tags, on='movie_id', how='left')

# 평갓값 데이터만 로딩한다
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../data/ml-10M100K/ratings.dat', names=r_cols, sep='::', engine='python')


# 데이터량이 많으므로 사용자수를 1000으로 줄여서 시험해본다
valid_user_ids = sorted(ratings.user_id.unique())[:1000]
ratings = ratings[ratings["user_id"].isin(valid_user_ids)]


# 영화 데이터와 평가 데이터를 결합한다
movielens = ratings.merge(movies, on='movie_id')

print(f'unique_users={len(movielens.user_id.unique())}, unique_movies={len(movielens.movie_id.unique())}')

# 학습용과 데이터용으로 데이터를 나눈다
# 각 사용자의 최근 5건의 영화를 평가용으로 사용하고, 나머지는 학습용으로 사용한다
# 우선, 각 사용자가 평가한 영화의 순서를 계산한다
# 최근 부여한 영화부터 순서를 부여한다(1에서 시작)

movielens['timestamp_rank'] = movielens.groupby(
    'user_id')['timestamp'].rank(ascending=False, method='first')
movielens_train = movielens[movielens['timestamp_rank'] > 5]
movielens_test = movielens[movielens['timestamp_rank']<= 5]

unique_users=1000, unique_movies=6736

In [3]:
# 사용자 x 영화 행렬 형식으로 변환한다
user_movie_matrix = movielens_train.pivot(index='user_id', columns='movie_id', values='rating')

# 라이브러리를 사용하기 위해 4 이상의 평갓값은 1, 4 미만의 평갓값과 결손값은 0으로 한다
user_movie_matrix[user_movie_matrix < 4] = 0
user_movie_matrix[user_movie_matrix.isnull()] = 0
user_movie_matrix[user_movie_matrix >= 4] = 1

user_movie_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,62000,62113,62293,62344,62394,62801,62803,63113,63992,64716
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 어소시에이션 규칙 라이브러리 설치(설치되어 있지 않다면 주석을 해제하고 실행합니다)
# !pip install mlxtend

In [5]:
from mlxtend.frequent_patterns import apriori

# 지지도가 높은 영화를 표시
freq_movies = apriori(
    user_movie_matrix, min_support=0.1, use_colnames=True)
freq_movies.sort_values('support', ascending=False).head()

    support itemsets
42    0.415    (593)
23    0.379    (318)
21    0.369    (296)
19    0.361    (260)
25    0.319    (356)

In [6]:
# movie_id=593의 제목 확인(양들의 침묵)
movies[movies.movie_id == 593]

,movie_id,title,genre,tag
587,593,"Silence of the Lambs, The (1991)","[Crime, Horror, Thriller]","[based on a book, anthony hopkins, demme, psyc..."

In [7]:
from mlxtend.frequent_patterns import association_rules

# 어소시에이션 규칙 계산(리프트 값이 높은 순으로 표시)
rules = association_rules(freq_movies, metric='lift', min_threshold=1)
rules.sort_values('lift', ascending=False).head()[['antecedents', 'consequents', 'lift']]

       antecedents   consequents      lift
649         (4993)        (5952)  5.459770
648         (5952)        (4993)  5.459770
1462  (1196, 1198)   (1291, 260)  4.669188
1463   (1291, 260)  (1196, 1198)  4.669188
1460  (1291, 1196)   (260, 1198)  4.171359

In [8]:
# movie_id=4993, 5952의 제목 확인(반지의 제왕)
movies[movies.movie_id.isin([4993, 5952])]

,movie_id,title,genre,tag
4899,4993,"Lord of the Rings: The Fellowship of the Ring,...","[Action, Adventure, Fantasy]","[based on a book, big budget, new zealand, sce..."
5852,5952,"Lord of the Rings: The Two Towers, The (2002)","[Action, Adventure, Fantasy]","[based on a book, big budget, new zealand, sce..."

In [9]:
# 학습용 데이터 평갓값이 4 이상인 것만 얻는다.
movielens_train_high_rating = movielens_train[movielens_train.rating >= 4]

In [10]:
# user_id=2인 사용자가 4 이상의 평가를 남긴 영화 목록
movielens_train_high_rating[movielens_train_high_rating.user_id==2]

,user_id,movie_id,rating,timestamp,title,genre,tag,timestamp_rank
4732,2,110,5.0,868245777,Braveheart (1995),"[Action, Drama, War]","[bullshit history, medieval, bloodshed, hero, ...",8.0
5246,2,260,5.0,868244562,Star Wars: Episode IV - A New Hope (a.k.a. Sta...,"[Action, Adventure, Sci-Fi]","[desert, quotable, lucas, gfei own it, seen mo...",17.0
5798,2,590,5.0,868245608,Dances with Wolves (1990),"[Adventure, Drama, Western]","[afi 100, lame, native, biopic, american india...",11.0
8381,2,1210,4.0,868245644,Star Wars: Episode VI - Return of the Jedi (1983),"[Action, Adventure, Sci-Fi]","[desert, fantasy, sci-fi, space, lucas, gfei o...",10.0

In [11]:
# user_id=2의 사용자가 4 이상의 평가를 남긴 영화 목록
user2_data = movielens_train_high_rating[movielens_train_high_rating.user_id==2]

# 사용자가 최근 평가한 4개의 영화 얻기
input_data = user2_data.sort_values("timestamp")["movie_id"].tolist()[-5:]

# 그 영화들이 조건부로 포함된 어오시에이션 규칙을 추출
matched_flags = rules.antecedents.apply(lambda x: len(set(input_data) & x)) >= 1
rules[matched_flags]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
3,(110),(1),0.291,0.263,0.105,0.360825,1.371957,0.028467,1.153048
5,(260),(1),0.361,0.263,0.153,0.423823,1.611493,0.058057,1.279120
25,(1210),(1),0.273,0.263,0.116,0.424908,1.615621,0.044201,1.281535
31,(110),(32),0.291,0.255,0.104,0.357388,1.401523,0.029795,1.159332
33,(260),(32),0.361,0.255,0.137,0.379501,1.488241,0.044945,1.200647
...,...,...,...,...,...,...,...,...,...
1476,"(1210, 1196)","(2571, 260)",0.197,0.161,0.108,0.548223,3.405114,0.076283,1.857112
1477,"(2571, 260)","(1210, 1196)",0.161,0.197,0.108,0.670807,3.405114,0.076283,2.439302
1479,"(1196, 260)","(1210, 2571)",0.224,0.139,0.108,0.482143,3.468654,0.076864,1.662621
1480,(1210),"(1196, 2571, 260)",0.273,0.141,0.108,0.395604,2.805705,0.069507,1.421255
1482,(260),"(1210, 2571, 1196)",0.361,0.124,0.108,0.299169,2.412653,0.063236,1.249945

In [12]:
from collections import defaultdict, Counter

# 어소시에이션 규칙의 귀결부의 영화를 리스트로 저장한다
# 같은 영화가 여러 차례 귀결부에 나타날 수 있다

consequent_movies = []
for i, row in rules[matched_flags].sort_values("lift", ascending=False).iterrows(): # lift値でソートして、上位１０個のルールだけを使うようにするなどの工夫も可能です
    consequent_movies.extend(row["consequents"])
    
# 귀결부에서의 출현 빈도 카운트
counter = Counter(consequent_movies)
counter.most_common(10)

[(1196, 92),
 (593, 41),
 (1198, 34),
 (260, 34),
 (1210, 34),
 (318, 20),
 (296, 19),
 (2571, 18),
 (356, 17),
 (589, 16)]

In [13]:
# movie_id=1196가 92번 귀결부에 출현하므로, user_id=2에는 movie_id=1196(Star Wars: Episode V)가 추천 후보가 된다
# (user_id=2의 학습 데이터에서는 Star Wars 에피소드 4, 6의 평가가 높다)
movies[movies.movie_id == 1196]

,movie_id,title,genre,tag
1171,1196,Star Wars: Episode V - The Empire Strikes Back...,"[Action, Adventure, Sci-Fi]","[lucas, george lucas, george lucas, gfei own i..."

In [14]:
# 추천 방법에는 lift 값이 높은 것을 추출하는 방법 등이 있다. 몇 가지 방법을 시도해 보고 자사의 데이터에 맞는 방법을 선택한다.

In [15]:
# 어소시에이션 규칙을 사용해 각 사용자가 아직 평가하지 않은 영화 10편을 추천한다
pred_user2items = defaultdict(list)
user_evaluated_movies = movielens_train.groupby("user_id").agg({"movie_id": list})["movie_id"].to_dict()

for user_id, data in movielens_train_high_rating.groupby("user_id"):
    # 사용자가 최근 5편의 영화를 얻는다
    input_data = data.sort_values("timestamp")["movie_id"].tolist()[-5:]
    # 그 영화들이 조건부에 1편이라도 포함되어 있는 어소시에이션 규칙을 추출한다
    matched_flags = rules.antecedents.apply(lambda x: len(set(input_data) & x)) >= 1

    # 어소시에이션 규칙의 귀결부의 영화를 리스트로 저장하고, 출편 빈도 순으로 배열하고, 사용자가 아직 평가하지 않았다면 추천 리스트에 추가한다
    consequent_movies = []
    for i, row in rules[matched_flags].sort_values("lift", ascending=False).iterrows():
        consequent_movies.extend(row["consequents"])
    # 출현 빈도를 센다
    counter = Counter(consequent_movies)
    for movie_id, movie_cnt in counter.most_common():
        if movie_id not in user_evaluated_movies[user_id]:
            pred_user2items[user_id].append(movie_id)
        # 추천 리스트가 10편이 되면 종료한다
        if len(pred_user2items[user_id]) == 10:
            break

# 각 사용자에 대한 추천 리스트
pred_user2items

defaultdict(list,
            {2: [1196, 593, 1198, 318, 296, 2571, 356, 589, 1240, 1291],
             6: [593, 296, 318, 541, 47, 608, 50, 589, 527, 1],
             9: [296, 318, 593, 2959, 2762, 1617, 2028, 2571, 858, 50],
             10: [858, 1196, 260, 318],
             11: [2858, 50, 296, 593],
             12: [260],
             13: [593, 318, 527, 356, 260, 47, 110, 2858, 589, 457],
             17: [1196, 296, 1200, 1240, 541, 2571, 1198, 1210],
             18: [1200, 1197, 50, 858, 1193],
             22: [318, 1196, 260, 457, 608, 2571, 1210, 1240, 1198, 541],
             23: [1196, 1210, 1198, 2571, 318, 1291, 1240, 356, 858, 110],
             24: [1198, 1196, 296, 593, 1221, 1213, 1193, 1214, 541, 2028],
             26: [593, 318, 296, 1196, 260, 50, 356, 527, 1210, 1240],
             27: [296, 593, 50, 318, 541, 858, 2858, 1, 260, 1198],
             33: [296, 593, 50, 318, 541, 858, 2858, 260, 1198, 527],
             37: [527, 356, 1196, 260, 608, 2858, 457, 858, 480, 1198],
             40: [],
             41: [],
             42: [1196, 260, 1198, 296, 318, 593],
             44: [1196, 260, 1198, 593],
             45: [296, 318, 47, 527, 541, 32],
             46: [593, 1196, 260, 1240, 1210, 296, 318, 2571, 457, 356],
             50: [50, 1196, 260, 1193, 2028, 47, 2858, 1198, 858, 32],
             52: [2858, 296, 593],
             53: [2571, 1196, 318, 296, 593],
             54: [1196, 260, 527, 1240, 1210, 608, 2571, 1198, 32, 1200],
             56: [],
             59: [356, 50, 1196, 527, 260, 110, 589, 1198, 480, 47],
             60: [1196, 1200, 1240, 2571, 1198, 589, 1210],
             61: [1196, 260, 457, 50, 110, 589, 1198, 1210, 150, 480],
             62: [1196, 260, 457, 50, 356, 589, 527, 1198, 110, 1210],
             63: [296, 318, 593, 1196, 260, 2959, 2762, 2028, 2571, 50],
             64: [1210, 1198, 480, 1196, 356, 589, 110, 296, 318, 593],
             71: [593, 318, 50, 356, 527, 457, 110, 1196, 47, 260],
             72: [296, 318, 589, 110, 150, 1198, 1210, 1, 2571, 1196],
             75: [593, 318, 356, 1196, 527, 1210, 260, 457, 50, 590],
             76: [1196, 260, 1240, 1210, 2571, 356, 527, 1036, 1200, 1214],
             77: [260],
             80: [356, 480, 589, 527, 588, 590, 1198, 1196, 260],
             83: [1200, 2571, 589, 593, 296],
             84: [1196, 1210, 1198, 593, 2571, 1291, 1240, 589, 296, 858],
             85: [1196, 260, 1210, 1198, 589, 318, 3578, 4993, 5952, 2959],
             86: [593, 296, 318, 356, 260, 150, 1, 527],
             87: [2571, 318, 296, 593],
             95: [1196, 50, 527, 260, 457, 1210, 47, 2571, 1240, 608],
             99: [2858, 2571, 1196, 593],
             100: [],
             102: [593, 50, 110, 527, 1196, 589, 260, 608, 32, 2571],
             104: [589, 1210, 1200, 296],
             105: [2571, 593, 356, 1240, 589, 296, 1291, 318, 1, 1200],
             106: [364, 480, 457, 110, 593, 296, 318],
             111: [527, 1196, 1210, 260, 589, 50, 1198, 1, 2571, 590],
             113: [2858, 2571, 1196, 318, 296, 593],
             116: [1196, 260, 2571, 1240, 1, 1036, 1200, 1214, 541, 2028],
             119: [1196, 260, 50, 1210, 2571],
             121: [260, 1036, 589],
             129: [2571, 1196, 318, 296, 593],
             132: [50, 1196, 260, 527, 110, 589, 1198, 47, 150, 1210],
             137: [],
             138: [457, 527, 480, 150, 608, 858, 1213, 111, 1097, 590],
             141: [318, 296, 50, 110, 1196, 260, 1193, 2028, 47, 2858],
             142: [296, 318, 1196, 260, 356, 50, 589, 527, 110, 1198],
             145: [318, 1196, 260, 527, 589, 110, 1198, 47, 608, 480],
             148: [2571, 1198, 858, 593],
             149: [],
             150: [593, 318, 296, 110, 1196, 260, 457, 50, 150, 589],
             151: [593, 541, 858, 32, 2858, 1, 1198, 1210],
             152: [296, 32, 527],
             153: [593, 318, 50, 356, 1196, 47, 608, 1210, 2858, 457],
             154: [318],
             155: [],
             161: [1036],
             162: [593, 457, 318, 380, 150],
             164: [50, 110, 1196, 260, 1193, 2028, 2858, 1198, 858, 2571],
             166: [318, 356, 296, 150, 480, 589, 110, 50, 527, 380],
             168: [593, 318, 296, 110, 527, 1196, 1210, 260, 150, 457],
             171: [593, 858],
             172: [593, 318, 1196, 260, 296, 356, 1210, 527, 1240, 2571],
             174: [50, 356, 110, 1196, 47, 260, 457, 589, 1210, 150],
             176: [296, 318, 1196, 260, 356, 50, 589, 527, 110, 1198],
             177: [296, 593, 50, 318, 541, 858, 2858, 260, 1198, 527],
             178: [296, 50, 590, 480, 2028, 47, 2858, 1198, 858, 32],
             179: [593, 318, 527, 47, 457, 2858, 356],
             180: [2858, 2571, 1196, 318, 296, 593],
             183: [296, 50, 356, 47, 457, 150, 608, 589, 2858, 32],
             184: [593, 318, 356, 527, 1196, 260, 47, 457, 589, 2858],
             188: [318, 1196, 260, 50, 1240, 1210, 2571, 47, 1198, 2028],
             189: [1196, 318, 1210, 50, 356, 527, 2571, 1291, 1240, 480],
             190: [],
             193: [1196, 1214, 2571, 1198, 858, 32, 1210, 608],
             199: [318, 1196, 260, 356, 50, 589, 527, 110, 1198, 480],
             202: [593, 318, 296, 356, 50, 110, 1196, 260, 589, 457],
             204: [1196, 1210, 1198, 593, 296, 2571, 318, 1291, 1240, 589],
             206: [1198, 2858, 858, 110, 589, 260, 356, 318, 296],
             210: [5952],
             211: [318, 1210, 296, 356, 527, 2571, 1036, 590, 480, 588],
             213: [318, 356, 110, 260, 1198, 858, 457, 2959, 1193, 590],
             216: [],
             221: [],
             226: [],
             228: [260],
             229: [593, 296, 318, 541, 47, 50, 589, 2571, 527, 1196],
             230: [2571],
             231: [593, 318, 296, 47, 527, 608, 1196, 260, 110, 457],
             232: [2571],
             234: [593, 318, 296, 356, 110, 1196, 260, 589, 1193, 590],
             235: [1240, 589, 1196],
             236: [541, 858, 32, 2858, 1, 260, 1198, 1196, 1210],
             237: [356, 589, 110, 318, 1, 1270, 541, 2028, 858, 480],
             238: [296, 318, 593, 2959, 2762, 1617, 2028, 2571, 858, 50],
             239: [260, 1210, 593, 2571, 1291, 1240, 589, 318, 296, 110],
             243: [296, 593, 50, 318, 541, 32, 1, 527],
             245: [2571, 1198, 2858, 1196, 1210, 110, 589, 527, 260, 356],
             246: [260, 1198, 1196, 296, 593, 1221, 1213, 1193, 541, 2028],
             248: [296, 593],
             251: [318],
             252: [1196, 1198, 296, 593, 318, 2571, 858, 110, 589, 356],
             255: [296, 110, 527, 1196, 1210, 260, 457, 480, 589, 1270],
             256: [296, 318, 50, 1196, 260, 457, 589, 527, 110, 1198],
             257: [1196, 593, 1291, 1210, 296, 318, 589, 1197, 1136, 1270],
             260: [2571, 1291, 50, 318],
             261: [1196, 260, 593, 1210, 296, 318, 1198, 589, 541, 47],
             267: [588, 1704, 1213],
             268: [260],
             270: [1196, 1198, 593, 2571, 296, 1240, 589, 1291, 356, 318],
             272: [593, 318, 110, 1196, 260, 457, 1193, 590, 2028, 47],
             273: [1196, 1198, 1214, 296],
             276: [],
             277: [318, 50, 1196, 260, 457, 527, 110, 589, 1198, 1210],
             278: [593, 457, 356, 296, 318, 380, 588, 589, 110, 150],
             281: [1291, 1240, 1198, 2571, 1196, 260],
             287: [593, 318, 296, 527, 1196, 260, 589, 1210, 50, 1198],
             290: [593, 318, 260, 296, 356, 110, 527, 1240, 1210, 150],
             291: [296, 260, 318, 593],
             293: [50, 356, 1196, 260, 527, 110, 589, 1198, 47, 1210],
             296: [110, 1196, 260, 608, 1210, 1198, 1704, 1136, 588],
             300: [457, 593],
             301: [457, 590, 480, 110, 589],
             307: [593, 318, 296, 527, 1291, 858, 457, 150, 50, 1197],
             308: [593, 356, 296, 318, 380, 589, 110, 150, 1198, 1210],
             309: [1196, 1210, 1198, 593, 2571, 1291, 1240, 589, 296, 858],
             311: [593, 318, 296, 110, 527, 1196, 1210, 260, 457, 589],
             313: [318, 593],
             314: [1214, 2571, 32, 50, 608],
             315: [260],
             317: [1196, 260, 50, 296, 593, 1214, 2858, 2571, 1198, 858],
             321: [318, 1196, 260, 1210, 110, 527, 150, 1240, 2571, 1198],
             324: [1196, 260, 1214, 1198, 858, 50, 608, 296, 593],
             328: [593, 296, 1210, 110, 527, 457, 356, 47, 1, 1036],
             329: [50, 296],
             330: [1198, 356, 593],
             331: [593, 296, 356, 110, 527, 1196, 47, 457, 260, 150],
             332: [589, 1198, 1210, 2571, 1196, 527, 260],
             333: [1196, 260, 457, 50, 589, 1198, 110, 1210, 480, 150],
             335: [5952, 2571],
             337: [296, 50, 356, 1196, 260, 457, 527, 110, 589, 1198],
             338: [1196, 260, 50, 527, 589, 1210, 1198, 47, 608, 2571],
             339: [50, 356, 527, 110, 1196, 47, 260, 608, 589, 1210],
             341: [50, 356, 47, 608, 1210, 32, 480, 150, 1089, 111],
             342: [593, 318, 296, 260, 356, 50, 1196, 110, 1198, 589],
             343: [1196, 260, 296, 318, 1210, 1240, 2571, 527, 1198, 1],
             346: [2571, 318, 296, 593],
             349: [260],
             353: [318, 260, 457, 527, 1198, 110, 1210, 480, 150, 608],
             355: [527, 1196, 47, 260, 589, 608, 480, 1210, 1198, 588],
             358: [541, 1198, 858],
             362: [296, 47, 608, 457, 1089, 1617, 541, 2858, 32, 858],
             363: [260, 593, 1210, 318, 1198, 2571, 50, 356, 589, 110],
             364: [527, 1196, 47, 356, 260, 608, 589, 1210, 2571, 541],
             369: [50, 356, 527, 110, 1196, 47, 260, 608, 589, 1210],
             371: [593, 318, 50, 527, 356, 47, 260, 608, 110, 1210],
             372: [260, 593, 1240, 296, 318, 356, 110, 858, 1270, 1214],
             373: [593, 296, 50, 356, 110, 527, 1196, 47, 457, 260],
             375: [480, 589, 457, 296, 593, 318],
             376: [1196, 318, 527, 457, 356, 47, 50, 1, 1036, 380],
             377: [],
             378: [2571, 1198, 593, 1240, 589, 296, 1291, 110, 318, 1],
             379: [1196, 593, 260, 318, 296, 1210, 50, 1198, 589, 2858],
             382: [593, 1210, 260, 318, 608, 589, 1196, 110, 541, 47],
             384: [593, 296, 527, 1196, 1210, 260, 589, 1270, 47, 2028],
             388: [593, 318, 296, 1196, 260, 47, 527, 608, 1210, 110],
             390: [1270, 1214, 1197, 541, 527, 1097, 1036, 47, 32],
             391: [1196, 260, 1240, 1210, 2571, 527, 1036, 1200, 1214, 1291],
             392: [260, 541, 608, 2571, 1, 1210, 1196],
             395: [593, 296, 527, 356, 110, 47, 1196, 457, 589, 2858],
             398: [1210, 2571, 1291, 1240, 589, 318, 296, 858, 1270, 1214],
             400: [1196, 260, 1210, 1198, 296, 318, 480, 356, 3578, 4993],
             403: [1196, 260, 1198, 318, 593],
             404: [593, 1196, 260, 1240, 1210, 2571, 527, 1036, 1200, 1214],
             412: [296, 50, 356, 260, 110, 527, 457, 1210, 47, 1240],
             413: [318, 593],
             415: [593],
             417: [1196, 1210, 1198, 593, 1291, 1240, 589, 296, 858, 356],
             420: [593, 318, 50, 110, 1196, 260, 589, 457, 1193, 2028],
             421: [593, 318, 296, 110, 527, 1196, 260, 1210, 50, 1198],
             422: [1196, 1210, 1198, 593, 2571, 1291, 1240, 589, 296, 858],
             425: [858, 296, 318, 593],
             426: [],
             428: [260, 589, 1210, 2571, 593, 1214, 296, 318],
             437: [110, 32, 858, 1198, 589, 356],
             439: [593, 318, 296, 110, 1196, 1210, 260, 150, 457, 589],
             440: [],
             441: [318, 2571, 1196, 527, 541, 608, 356, 1, 260, 1210],
             443: [296, 356, 50, 1196, 527, 260, 110, 589, 1198, 150],
             444: [593, 318, 110, 527, 260, 150, 2028, 50, 858],
             445: [4993, 2571],
             446: [1196, 260, 1210, 1240, 2571, 110, 527, 1198, 1, 1036],
             447: [1196, 1198, 1291, 1240, 858, 356, 1200, 1214, 1270, 541],
             448: [296, 318, 593, 2959, 2762, 1617, 2028, 2571, 858, 50],
             449: [1198, 318, 296, 1291, 110, 1240, 858, 457, 1270, 1214],
             453: [593, 318, 50, 527, 356, 1196, 260, 608, 110, 1210],
             455: [1196, 2571, 1198, 593, 356, 1240, 589, 296, 1291, 110],
             458: [2571, 1196, 318, 296, 593],
             459: [318, 457, 50, 1198, 608, 858, 1213, 111, 1617, 588],
             460: [318, 1196, 356, 260, 50, 527, 589, 1198, 1210, 480],
             461: [593, 318, 50, 1196, 541, 1198, 589, 527, 110, 47],
             462: [296, 356, 527, 150, 480, 589, 110, 1196, 858, 380],
             463: [],
             465: [],
             466: [1196, 260, 593, 2571, 1198, 1240, 296, 356, 318, 110],
             467: [2571, 1291, 1198, 1196, 260, 593],
             471: [588],
             472: [],
             474: [1198, 296, 318, 3578, 4993, 5952, 2959, 2762, 2028, 1291],
             475: [2858, 2571, 296, 593],
             479: [541, 47, 589, 260, 1210, 1196],
             480: [1036, 318],
             484: [296, 593, 50, 318, 541, 858, 2858, 1198, 527, 1196],
             485: [110, 1210, 150, 47, 1704, 1036, 590, 2028, 1136, 1270],
             487: [593, 110, 527, 1196, 1210, 260, 150, 457, 480, 589],
             488: [1196, 260, 296, 318, 1210, 356, 1240, 2571, 110, 527],
             489: [296, 593],
             491: [296, 593, 1198, 1193, 1214, 541, 2028, 608, 1210, 50],
             492: [4993, 2571],
             494: [32, 2571, 1196],
             496: [318, 50, 527, 356, 1196, 110, 260, 608, 2858, 32],
             497: [296, 541, 47, 608, 50, 589, 1, 260, 110],
             499: [593, 318, 50, 356, 527, 457, 110, 1196, 47, 589],
             500: [2858, 50],
             501: [318, 296, 589, 50, 527, 590],
             502: [2571, 1196, 318, 296, 593],
             508: [260, 1210, 1198, 593, 2571, 1291, 1240, 589, 318, 296],
             510: [50, 110, 1196, 260, 589, 1193, 2028, 47, 2858, 1198],
             518: [1198, 2858, 858, 110, 356, 296],
             520: [593, 296, 50, 356, 110, 527, 1196, 47, 457, 260],
             521: [296, 527, 47, 110, 1196, 457, 260, 589, 150, 2858],
             525: [1196, 260, 356, 50, 589, 527, 1198, 480, 1210, 47],
             526: [1196, 1210, 1198, 593, 2571, 1291, 1240, 589, 296, 858],
             527: [1196, 260, 593, 1198, 2571, 296, 589, 110, 1240, 318],
             529: [593, 318, 47, 608, 50, 589, 2571, 1, 1196, 110],
             532: [110, 527, 593, 318],
             534: [2571],
             536: [1196, 1198, 2571, 1240, 589, 1291, 356, 318, 110, 858],
             537: [1196, 1210, 1198, 593, 2571, 1291, 1240, 589, 296, 858],
             539: [356, 110, 1196, 260, 457, 608, 2571, 541, 1193, 2028],
             544: [593, 318, 32, 589, 110, 356, 527],
             547: [318, 296, 50, 1196, 260, 1193, 2028, 47, 2858, 1198],
             548: [593, 50, 356, 2571, 110, 589, 527, 608, 47, 1240],
             549: [356, 50, 1196, 527, 260, 110, 589, 1198, 47, 480],
             551: [318, 296, 356, 50, 110, 589, 457, 1193, 47, 2858],
             553: [541, 858, 2858, 1, 260, 1198, 527, 1196, 1210],
             557: [1198, 1196, 296, 593, 1221, 1213, 1193, 1214, 541, 2028],
             559: [1196, 260, 2571, 1198, 593, 356, 1240, 589, 296, 1291],
             563: [1196, 1210, 1198, 593, 296, 2571, 318, 1291, 1240, 589],
             564: [593, 110, 527, 457, 590, 588, 47, 2028, 1, 2571],
             569: [318, 1196, 260, 356, 589, 527, 110, 1198, 150, 480],
             570: [296, 593, 50, 858, 541, 32, 2858, 1, 1198, 1196],
             573: [150, 110, 296],
             574: [356, 318, 110, 150, 1198, 1210, 1, 2571, 1196, 260],
             576: [150, 356, 593],
             579: [1617, 2028, 858, 608],
             584: [296, 593, 318],
             586: [296, 318, 593, 2959, 2762, 1617, 2028, 2571, 858, 50],
             587: [1198, 2571, 1240, 1291, 50, 858, 1270, 1214, 1200, 541],
             589: [318, 2571],
             590: [],
             593: [1196, 260, 527, 1240, 2571, 1210, 608, 32, 1198, 1036],
             594: [1196, 1198, 593, 2571, 296, 356, 1240, 589, 318, 1291],
             595: [1210, 589, 318, 3578, 4993, 5952, 2959, 1200, 2028, 47],
             596: [593, 296, 50, 110, 47, 457, 150, 589, 1210, 2571],
             600: [1196, 260, 1214, 2571, 589, 593],
             603: [593, 50, 260, 457, 1193, 47, 150, 1198, 32],
             605: [593, 2571, 457, 2858, 858, 2028, 1270, 1704, 1213, 590],
             606: [2858, 527, 356, 593, 318, 296],
             607: [1196, 1210, 2571, 296, 1291, 1240, 589, 356, 1214, 541],
             609: [1196, 260, 608, 2858, 858, 1198, 2571, 1089, 1617, 541],
             613: [260, 1210, 1198, 593, 2571, 1291, 1240, 589, 318, 296],
             614: [593, 318, 589, 296, 356, 1210, 150, 527, 2571, 50],
             616: [1196],
             619: [593, 1196, 296, 318, 2571, 356, 527, 1036, 380, 1291],
             625: [318, 356, 296, 150, 480, 110, 50, 527, 380, 588],
             628: [593, 296, 356, 50, 110, 527, 457, 1196, 47, 589],
             632: [318, 296],
             637: [593, 318, 296, 356, 1196, 527, 1210, 260, 457, 50],
             640: [260, 593, 1200, 1036, 1240, 296],
             641: [260, 1196, 1210, 1240, 2571, 110, 527, 356, 47, 50],
             642: [],
             646: [364, 110, 318],
             649: [593, 318, 50, 527, 1196, 47, 260, 608, 110, 589],
             653: [858, 296, 318, 593],
             654: [1196, 527, 1210, 260, 50, 589, 2028, 47, 1198, 2571],
             655: [110, 527, 593],
             656: [1291, 1240, 1198, 589, 2571, 1196, 260],
             660: [858, 1, 260, 1198, 1196, 1210],
             661: [260],
             662: [1200, 1240, 2571, 1198, 589],
             663: [1291, 1240, 1198, 589, 2571, 1196, 260],
             666: [260, 1210, 593, 1291, 1240, 589, 318, 356, 110, 1270],
             667: [1210, 1036, 1214, 2571, 593, 296],
             668: [593, 318, 50, 1196, 260, 527, 356, 47, 608, 110],
             669: [1196, 260, 527, 1210, 2571, 1240, 50, 1198, 1, 47],
             672: [318],
             675: [50, 527, 110, 1196, 260, 457, 1210, 47, 608, 2858],
             677: [260],
             679: [1198, 2571],
             684: [588],
             685: [1196, 593, 296, 1198, 2571, 318, 356, 50, 1240, 589],
             686: [],
             690: [1196, 1210, 1198, 593, 2571, 1291, 1240, 589, 296, 858],
             696: [2571, 1196, 318, 296, 593],
             699: [593, 296, 527, 356, 47, 110, 1196, 608, 457, 260],
             701: [593, 318, 356, 296, 150, 480, 589, 110, 50, 527],
             704: [],
             705: [260, 1196, 1198, 296, 589, 1210, 318, 593, 2571, 1200],
             707: [318, 1617, 2571, 858, 50, 1198, 608, 1196, 260, 356],
             708: [593, 1196, 1210, 296, 318, 457, 356, 110, 527, 1036],
             709: [593, 318, 1210, 296, 356, 480, 110, 50, 527, 150],
             710: [593],
             711: [593, 318, 50, 527, 356, 1196, 47, 260, 608, 110],
             712: [593, 50, 541, 858, 32, 2858, 1, 260, 1198, 1196],
             715: [593, 50, 318, 32, 2571, 589, 110, 1196, 356, 527],
             720: [50, 110, 1196, 260, 589, 1193, 2028, 2858, 1198, 858],
             723: [593, 296, 1196, 260, 1210, 150, 457, 480, 1198, 858],
             724: [296, 593, 50, 318, 541, 858, 2858, 1198, 527, 1196],
             726: [296, 318, 260, 50, 589, 150, 480, 47, 2571, 608],
             727: [608, 1196, 260, 2571, 589, 588, 1089, 1617, 541, 2858],
             728: [260, 593, 1198, 318, 1291, 356, 110, 527, 1200, 1214],
             729: [480, 589, 457, 296, 593, 318],
             730: [593, 50, 356, 110, 527, 1196, 260, 47, 457, 1210],
             733: [593, 1196, 260, 1240, 1210, 296, 318, 457, 356, 110],

In [16]:
# user_id=2인 사용자 학습 데이터에서 4 이상의 평가를 부여한 영화 목록
movielens_train_high_rating[movielens_train_high_rating.user_id==2]

,user_id,movie_id,rating,timestamp,title,genre,tag,timestamp_rank
4732,2,110,5.0,868245777,Braveheart (1995),"[Action, Drama, War]","[bullshit history, medieval, bloodshed, hero, ...",8.0
5246,2,260,5.0,868244562,Star Wars: Episode IV - A New Hope (a.k.a. Sta...,"[Action, Adventure, Sci-Fi]","[desert, quotable, lucas, gfei own it, seen mo...",17.0
5798,2,590,5.0,868245608,Dances with Wolves (1990),"[Adventure, Drama, Western]","[afi 100, lame, native, biopic, american india...",11.0
8381,2,1210,4.0,868245644,Star Wars: Episode VI - Return of the Jedi (1983),"[Action, Adventure, Sci-Fi]","[desert, fantasy, sci-fi, space, lucas, gfei o...",10.0

In [17]:
# user_id=2에 대한 추천(1196, 593, 1198)
movies[movies.movie_id.isin([1196, 593, 1198])]

,movie_id,title,genre,tag
587,593,"Silence of the Lambs, The (1991)","[Crime, Horror, Thriller]","[based on a book, anthony hopkins, demme, psyc..."
1171,1196,Star Wars: Episode V - The Empire Strikes Back...,"[Action, Adventure, Sci-Fi]","[lucas, george lucas, george lucas, gfei own i..."
1173,1198,Raiders of the Lost Ark (Indiana Jones and the...,"[Action, Adventure]","[egypt, lucas, seen more than once, dvd collec..."

In [18]:
# apriori(user_movie_matrix, min_support=0.1, use_colnames=True)
# association_rules(freq_movies, metric='lift', min_threshold=1)
# min_support와 min_threshold가 중요한 파라미터가 되므로 바꾸어 가면서 시험해봅니다.